<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <input placeholder="Enter Your name" type="text" name="name" id="">
        <input placeholder="Enter Your age" type="number" name="age" id="">
        <button>Create User</button>
</body>
</html>