<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Product</title>
</head>
<body>

  <form action="/product" method="POST">

    <label>
      Name:
      <input type="text" name="name" placeholder="enter name"  />
    </label>
    <br />

    <label>
      Price:
      <input type="number" name="price" placeholder="enter price"  />
    </label>
    <br />

    <label>
      Description:
      <textarea name="description" placeholder="description" ></textarea>
    </label>
    <br />

    <label>
      Rating:
      <input type="number" name="rating" placeholder="rating" />
    </label>
    <br />

    <button type="submit">Create</button>
  </form>

</body>
</html>
