<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is about page here</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam itaque
      accusantium odit asperiores iste officiis vero rem. Alias incidunt, iusto
      voluptate nemo, tenetur dolor adipisci aut aspernatur quod libero quidem?
    </p>
    <h2>The substraction of : 5 - 2 = <%= 5-2 %></h2>
    <h1>The multiplication of : 2 * 8 = <%= 2*8  %></h1>
    <h1>The sum of : 1 + 5 = <%= 1+ 5  %></h1>
    <button>Explore About</button>
  </body>
</html>
