<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/student" method="post">
      <input type="text" name="name" id="" placeholder="name" />
      <input type="text" name="course" id="" placeholder="course" />
      <input type="number" name="age" placeholder="age" id="" />
      <button>Create Student</button>
    </form>
  </body>
</html>
