<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Goode morning Pinaple</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quidem
      vel iure sed officia, laboriosam animi molestias quae similique. Ex, sed
      molestias quis aliquam culpa neque obcaecati quibusdam corporis. Illum.
    </p>
    <button>Click here</button>
  </body>
</html>
